@page "/login" 

@inject NavigationManager nv;
@inject HttpClient Http;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject CRMApp.Auth.ILoginServices loginService;
 
<div class="main-div">
    <form onsubmit="return false" action="##">
    <div class="flex-column d-grid gap-3 login-div">
      <input type="text" class="form-control"  placeholder="Enter username" name="uname" @bind-value="UserName" required>
      <input type="password" class="form-control" placeholder="Enter password" name="uname" @bind-value="Password" required>
      <button class="btn btn-primary btn-block" type="submit"  @onclick="OnClick">Login</button>      
    </div>
    </form>
</div>
 
