<div style="color:blue;font-size:16px;display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <span class="spinner-border spinner-border-sm" style="width:2rem;height:2rem"></span>
    <p> Loading...</p>
</div>
 
 
